svg {
	/*shape-rendering: crispEdges;*/
}
svg * {
	pointer-events: all;
}
.ctrls {
	position: fixed;
	top:5px;
	left:0;
	background: white;
}
input[type=range] {
   	width: 4em;
}
input#volmult {
   	width: 9em;
}
.volumeBar {
	opacity: 0.3;
}
#zoom, #volmult {
	width:100px;
}
.macdZero, .obvZero {
	stroke: black;
	stroke-width: 1;
}
.obvLine {
	stroke-width: 2;
	stroke: darkolivegreen;
	fill: none;
}
.histo {
	opacity: 0.4
}
.hist.pos {
	stroke: black;
	fill: black;
}
.histo.neg {
	stroke: #c00;
	fill: #c00;
}
.point {
	stroke: orange;
	fill: blue;
	stroke-width: 2;
}
.historyBar {
	stroke: blue;
	fill: blue;
}
.historyBar:hover {
	stroke: red;
	fill: white;
}
.indicatorInputs {
	position: relative;
	left: 18px;
}
rect#annotationRect {
	stroke: none;
	fill: none;
}
.trendline {
	stroke: black;
	stroke-width: 1;
}
.diagtool {
    border: 1px solid gray;
    display: inline-block;
    font-family: Lucida Console;
    font-size: small;
    transform: rotate(315deg);
}
.diagtool:hover, .cursorPointer:hover {
	cursor: pointer;
}
#trendlineTool {
	margin: 23px 0 -18px;
}
